AuthType Digest
AuthName lashca
AuthUserFile /etc/httpd/.htdigest
Require user lashca-developer
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
</IfModule>