html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -57px;
}
.footer,
.push {
  height: 57px;
}
.buffer {
    margin-top: 2em;
    margin-bottom: 2em;
}
.buffer-top {
    margin-top: 2em;
}
.bg-gray{
    color: #ffffff;
    background-color: #708090;
}
.bg-purple{
    color: #000000;
    background-color: #bcc0f8;
}
.bg-inverse{
    background-color: #708090 !important;
}
.jumbotron{
    padding-top: 7rem;
    background: #708090 url(../img/bg-header.png) no-repeat center bottom;
    background-size: cover;
}
.icon-logo{
    background: url(../img/logo_wh.png) no-repeat center bottom;
}
.start-btn{
    font-size: 1.5rem;
}
ul.privacy{
    list-style-type: none;
    padding-left:0;
}
li.privacy{
    padding-bottom:0.5em;
}
ol.list_parentheses{
    padding:0 0 0 2em;
    margin:0;
}
ol.list_parentheses li{
    list-style-type:none;
    list-style-position:inside;
    counter-increment: cnt;
}
ol.list_parentheses li:before{
    display: marker;
    content: "(" counter(cnt) ") ";
}
a.nav-link{
    color: #ffffff;
    text-decoration: none;
}
.is-hide{
    display:none; 
}
.loading{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:rgba(0,0,0,.5);
    z-index:1051;
}
.loading::before{
    content:"";
    display:block;
    position:fixed;
    left:50%;
    top:50%;
    width:50px;
    height:50px;
    border-radius:5px;
    margin-top:-15px;
    margin-left:-15px;
    background:white;
}
.loading::after{
    content:"";
    display:block;
    position:fixed;
    left:50%;
    top:50%;
    width:35px;
    height:35px;
    border-radius:20px;
    margin-top:-8px;
    margin-left:-8px;
    border:4px solid #60ABB9;
    border-right:4px solid white;
    animation: rotate 1s infinite linear;
}
@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}