html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -57px;
}
.footer,
.push {
  height: 57px;
}
.buffer {
    margin-top: 2em;
    margin-bottom: 2em;
}
.buffer-top {
    margin-top: 2em;
}
.bg-gray{
    color: #ffffff;
    background-color: #708090;
}
.bg-inverse{
    background-color: #708090 !important;
}
.jumbotron{
    padding-top: 7rem;
    background: #708090 url(../img/bg-header.png) no-repeat center bottom;
    background-size: cover;
}
.icon-logo{
    background: url(../img/logo_wh.png) no-repeat center bottom;
}
.start-btn{
    font-size: 1.5rem;
}
ul.privacy{
    list-style-type: none;
    padding-left:0;
}
li.privacy{
    padding-bottom:0.5em;
}
ol.list_parentheses{
    padding:0 0 0 2em;
    margin:0;
}
ol.list_parentheses li{
    list-style-type:none;
    list-style-position:inside;
    counter-increment: cnt;
}
ol.list_parentheses li:before{
    display: marker;
    content: "(" counter(cnt) ") ";
}
